name: Deploy Next.js with Docker

on:
  push:
    branches:
      - master

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Log in to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Pull Docker image
        run: docker pull smr24427/nextjs-blog:latest

      # - name: Run Docker container with local directory
      #   run: |
      #     docker run -d -p 4000:4000 -v ${{ github.workspace }}/next.config.mjs:/app/next.config.mjs smr24427/nextjs-blog:latest

      # - name: show Next.js app
      #   run: docker exec $(docker ps -q -f ancestor=smr24427/nextjs-blog:latest) ls -al
      - name: Build Next.js app
        run: docker exec $(docker ps -q -f ancestor=smr24427/nextjs-blog:latest) npm run build

      - name: Copy static files
        run: docker cp $(docker ps -q -f ancestor=smr24427/nextjs-blog:latest):/app/out ./out

      # - name: Deploy to GitHub Pages
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./out

      - name: Upload site artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: out

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      pages: write
      id-token: write
    steps:
      - name: Deploy to GitHub Pages
        uses: actions/deploy-pages@v4
        with:
          publish_dir: out
